<header class="fade-in one">
  <a class="logo" href="/"><img src="assets/images/logo.png" alt="Jason Melgoza"></a>
  <nav>
    <a href="/">Home</a>
    <a class="disabled" href="">Projects</a>
    <a class="disabled" href="">Work</a>
  </nav>
</header>
