//
// S P A R T A N
// ------------------------------

// MIXINS
@import "mixins/extends";

// RESET
@import "modules/reset";

// VARIABLES
$lg-desktop: "(min-width: 1140px)";
$sm-desktop: "(min-width: 940px)";

// COLORS
$background: hsla(266, 30%, 49%, 1);

// BASE
html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0 32px;
  margin: 0;
  &.page-main {
    background-color: $background;
  }
  a {
    color: rgba(#fff, 0.5);
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    @extend %clearfix;

    @media #{$lg-desktop} {
      width: 1140px;
    }
  }
  header {
    height: 64px;
    padding: 32px 0;
    @extend %clearfix;
    @extend %flex-container;
    .logo {
      @extend %flex-1;
      @extend %transition-1;
      &:hover,
      &:focus {
        opacity: 0.7;
      }
      > img {
        width: 64px;
        height: 60px;
      }
    }
    nav {
      padding: 0.1rem 0 0 0;
      text-align: right;
      font-size: 0.765rem;
      font-weight: 700;
      line-height: 1;
      @extend %flex-1;

      @media #{$sm-desktop} {
        font-size: 0.875rem;
      }
      a {
        position: relative;
        margin-left: 1rem;
        text-decoration: none;
        padding-bottom: 0.5rem;
        @extend %transition-1;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: #fff;
          opacity: 0;
          -webkit-transform: scale(0);
                  transform: scale(0);
          transition: all .3s ease-in-out;
        }
        &:hover {
          &:before {
            opacity: 0.5;
            -webkit-transform: scale(1);
                    transform: scale(1);
          }
        }
        &.disabled {
          opacity: 0.4;
          cursor: text;
          text-decoration: line-through;
          &:hover {
            &:before {
              opacity: 0;
              -webkit-transform: scale(0);
                      transform: scale(0);
            }
          }
        }
      }
    }
  }
  .intro-container {
    @extend %clearfix;
    @extend %flex-container;
    font-size: 1.6rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(96vh - 96px);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    .intro-text {
      width: 100%;
      @extend %clearfix;
      color: rgba(#fff, 0.5);
      h1 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3;
        span {
          color: #fff;
          font-weight: 700;
        }

        @media #{$sm-desktop} {
          font-size: 2.15rem;
        }
      }
    }
    .intro-links {
      width: 100%;
      margin: 32px 0;
      @extend %clearfix;
      a {
        img {
          opacity: 0.4;
          -webkit-transform-style: preserve-3d;
          // -webkit-transform: translateZ(0);
          @extend %transition-2;
        }
        &:hover img,
        &:focus img {
          opacity: 0.5;
          -webkit-transform: scale(1.25);
             -moz-transform: scale(1.25);
                  transform: scale(1.25);
        }
      }
      > * {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  footer {
    @extend %clearfix;
    height: 32px;
    font-size: 0.8rem;
    color: rgba(#fff, 0.5);
  }
}

// ANIMATION
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
   @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
     -moz-animation:fadeIn ease-in 1;
          animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
     -moz-animation-fill-mode:forwards;
          animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
     -moz-animation-duration:1s;
          animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
          animation-delay: 1s;
}

.fade-in.three {
  -webkit-animation-delay: 1.4s;
     -moz-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
