//
// EXTENDS
// ------------------------------

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%flex-container {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

%flex-1 {
  -webkit-flex: 1;
     -moz-flex: 1;
          flex: 1;
}

%transition-1 {
  -webkit-transition: opacity .25s ease;
     -moz-transition: opacity .25s ease;
          transition: opacity .25s ease;
}

%transition-2 {
  -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
     -moz-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
          transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}