<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jason Melgoza</title>
  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <link rel="stylesheet" href="assets/styles/css/app.css">
  <script src="assets/scripts/angular.min.js"></script>
  <script src="assets/scripts/angular-route.min.js"></script>
  <script src="assets/scripts/angular-animate.min.js"></script>
  <script src="assets/scripts/app.js"></script>
  <!-- start Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("e62c5fabde30a2d5693c4ffca9730f28");</script>
  <!-- end Mixpanel -->
  <base href="/">
</head>
<body ng-app="spartanApp" class="page-main">
  <div class="wrapper">
    <div class="grid">
      <ng-include src="'partials/header.html'"></ng-include>
      <section>
        <div class="page {{ pageClass }}" ng-view></div>
      </section>
      <ng-include src="'partials/footer.html'"></ng-include>
    </div>
  </div>
</body>
</html>
