<!-- page-home.html -->
<div class="intro-container fade-in two">
  <div class="intro-items">
    <div class="intro-text">
      <h1><span>Hi, I'm Jason Melgoza</span> <br>UI Designer Developer, <br>Father and Pixel Nerd.</h1>
    </div>
    <nav class="intro-links">
      <a href="http://twitter.com/jasonmelgoza" target="_blank"><img src="assets/images/twitter.svg" alt="Twitter"></a>
      <a href="http://instagram.com/jmelgoza" target="_blank"><img src="assets/images/instagram.svg" alt="Instagram"></a>
      <a href="http://dribbble.com/jasonmelgoza" target="_blank"><img src="assets/images/dribbble.svg" alt="Dribbble"></a>
      <a href="http://github.com/jasonmelgoza" target="_blank"><img src="assets/images/github.svg" alt="GitHub"></a>
    </nav>
  </div>
</div>
