body .wrapper:after, body header:after, body .intro-container:after, body .intro-container .intro-text:after, body .intro-container .intro-links:after, body footer:after {
  content: "";
  display: table;
  clear: both; }

body header, body .intro-container {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

body header .logo, body header nav {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1; }

body header .logo, body header nav a {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

body .intro-container .intro-links a img {
  -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 62.5%;
  text-rendering: optimizeLegibility; }

body {
  padding: 0 32px;
  margin: 0; }
  body.page-main {
    background-color: #7857a2; }
  body a {
    color: rgba(255, 255, 255, 0.5); }
  body .wrapper {
    width: 100%;
    margin: 0 auto;
    font-size: 100%; }
    @media (min-width: 1140px) {
      body .wrapper {
        width: 1140px; } }
  body header {
    height: 64px;
    padding: 32px 0; }
    body header .logo:hover,
    body header .logo:focus {
      opacity: 0.7; }
    body header .logo > img {
      width: 64px;
      height: 60px; }
    body header nav {
      padding: 0.1rem 0 0 0;
      text-align: right;
      font-size: 0.765rem;
      font-weight: 700;
      line-height: 1; }
      @media (min-width: 940px) {
        body header nav {
          font-size: 0.875rem; } }
      body header nav a {
        position: relative;
        margin-left: 1rem;
        text-decoration: none;
        padding-bottom: 0.5rem; }
        body header nav a:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: #fff;
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
          transition: all 0.3s ease-in-out; }
        body header nav a:hover:before {
          opacity: 0.5;
          -webkit-transform: scale(1);
          transform: scale(1); }
        body header nav a.disabled {
          opacity: 0.4;
          cursor: text;
          text-decoration: line-through; }
          body header nav a.disabled:hover:before {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0); }
  body .intro-container {
    font-size: 1.6rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(96vh - 96px);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .intro-container .intro-text {
      width: 100%;
      color: rgba(255, 255, 255, 0.5); }
      body .intro-container .intro-text h1 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3; }
        body .intro-container .intro-text h1 span {
          color: #fff;
          font-weight: 700; }
        @media (min-width: 940px) {
          body .intro-container .intro-text h1 {
            font-size: 2.15rem; } }
    body .intro-container .intro-links {
      width: 100%;
      margin: 32px 0; }
      body .intro-container .intro-links a img {
        opacity: 0.4;
        -webkit-transform-style: preserve-3d; }
      body .intro-container .intro-links a:hover img,
      body .intro-container .intro-links a:focus img {
        opacity: 0.5;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        transform: scale(1.25); }
      body .intro-container .intro-links > * {
        margin-right: 8px; }
        body .intro-container .intro-links > *:last-child {
          margin-right: 0; }
  body footer {
    height: 32px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5); }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-in.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.fade-in.three {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s; }
